<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="wust_arm_7axis_description">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import wust_arm_7axis_description urdf file -->
    <xacro:include filename="$(find wust_arm_7axis_description)/urdf/wust_arm_7axis.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="wust_arm_7axis_description.ros2_control.xacro" />


    <xacro:wust_arm_7axis_description_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
