<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="wust_seven_axis_arm_description">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.022966 -0.114 0.051509"
        rpy="0 0 0" />
      <mass
        value="77.643" />
      <inertia
        ixx="2.5225"
        ixy="9.3836E-17"
        ixz="7.3364E-17"
        iyy="4.4493"
        iyz="9.0781E-17"
        izz="2.5996" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://wust_seven_axis_arm_description/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://wust_seven_axis_arm_description/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="LINK1">
    <inertial>
      <origin
        xyz="-0.026552 0.004322 0.047909"
        rpy="0 0 0" />
      <mass
        value="1.1303" />
      <inertia
        ixx="0.0010196"
        ixy="-3.0364E-05"
        ixz="5.3201E-05"
        iyy="0.0020387"
        iyz="-1.8449E-08"
        izz="0.0018577" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://wust_seven_axis_arm_description/meshes/LINK1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.89804 0.91765 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://wust_seven_axis_arm_description/meshes/LINK1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint1"
    type="revolute">
    <origin
      xyz="0.022966 0.0012471 0"
      rpy="0 0 1.5708" />
    <parent
      link="base_link" />
    <child
      link="LINK1" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="80"
      velocity="3.14" />
  </joint>
  <link
    name="LINK2">
    <inertial>
      <origin
        xyz="0.16906 -0.0066264 -0.00043466"
        rpy="0 0 0" />
      <mass
        value="1.9471" />
      <inertia
        ixx="0.0013615"
        ixy="4.8371E-05"
        ixz="3.9307E-05"
        iyy="0.005887"
        iyz="7.7012E-09"
        izz="0.0068802" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://wust_seven_axis_arm_description/meshes/LINK2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.89804 0.91765 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://wust_seven_axis_arm_description/meshes/LINK2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint2"
    type="revolute">
    <origin
      xyz="0.024226 -0.0557 0.073"
      rpy="1.5708 -0.77059 3.1416" />
    <parent
      link="LINK1" />
    <child
      link="LINK2" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="40"
      velocity="3.14" />
  </joint>
  <link
    name="LINK3">
    <inertial>
      <origin
        xyz="0.014466 0.09077 -0.077009"
        rpy="0 0 0" />
      <mass
        value="1.4032" />
      <inertia
        ixx="0.0014059"
        ixy="-3.2931E-05"
        ixz="-1.2576E-06"
        iyy="0.0019115"
        iyz="2.0188E-06"
        izz="0.0014793" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://wust_seven_axis_arm_description/meshes/LINK3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://wust_seven_axis_arm_description/meshes/LINK3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint3"
    type="revolute">
    <origin
      xyz="0.308 0 0.0328"
      rpy="-3.1416 0 2.371" />
    <parent
      link="LINK2" />
    <child
      link="LINK3" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="2.5"
      velocity="3.14" />
  </joint>
  <link
    name="LINK4">
    <inertial>
      <origin
        xyz="-5.508E-06 -0.00055068 0.027375"
        rpy="0 0 0" />
      <mass
        value="0.43034" />
      <inertia
        ixx="0.00013372"
        ixy="1.1612E-08"
        ixz="-5.5872E-08"
        iyy="0.00016472"
        iyz="4.4027E-08"
        izz="0.00015709" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://wust_seven_axis_arm_description/meshes/LINK4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://wust_seven_axis_arm_description/meshes/LINK4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint4"
    type="revolute">
    <origin
      xyz="0.104 0 -0.033"
      rpy="1.5708 0 1.5708" />
    <parent
      link="LINK3" />
    <child
      link="LINK4" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="2.5"
      velocity="3.14" />
  </joint>
  <link
    name="LINK5">
    <inertial>
      <origin
        xyz="0.070446 0.0035509 -0.0055136"
        rpy="0 0 0" />
      <mass
        value="0.47533" />
      <inertia
        ixx="0.00016986"
        ixy="-1.6752E-05"
        ixz="1.3562E-06"
        iyy="0.00043792"
        iyz="1.0511E-08"
        izz="0.0004231" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://wust_seven_axis_arm_description/meshes/LINK5.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.84706 0.84706 0.84706 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://wust_seven_axis_arm_description/meshes/LINK5.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint5"
    type="revolute">
    <origin
      xyz="0 0 0.08"
      rpy="1.5708 -1.5708 0" />
    <parent
      link="LINK4" />
    <child
      link="LINK5" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="2.5"
      velocity="3.14" />
  </joint>
  <link
    name="LINK6">
    <inertial>
      <origin
        xyz="5.2854E-05 -0.029295 -0.0065583"
        rpy="0 0 0" />
      <mass
        value="0.27211" />
      <inertia
        ixx="0.0001518"
        ixy="3.525E-08"
        ixz="6.9829E-09"
        iyy="0.00016171"
        iyz="6.8965E-07"
        izz="0.00011201" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://wust_seven_axis_arm_description/meshes/LINK6.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.89804 0.91765 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://wust_seven_axis_arm_description/meshes/LINK6.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint6"
    type="revolute">
    <origin
      xyz="0.178 0.0073 0"
      rpy="1.5708 -1.5708 3.14159" />
    <parent
      link="LINK5" />
    <child
      link="LINK6" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="2.5"
      velocity="3.14" />
  </joint>
  <link
    name="LINK7">
    <inertial>
      <origin
        xyz="2.4977E-05 -3.5319E-06 0.022282"
        rpy="0 0 0" />
      <mass
        value="0.21341" />
      <inertia
        ixx="2.1719E-05"
        ixy="3.2824E-10"
        ixz="-7.9769E-09"
        iyy="7.1028E-05"
        iyz="-6.2441E-11"
        izz="8.0769E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://wust_seven_axis_arm_description/meshes/LINK7.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://wust_seven_axis_arm_description/meshes/LINK7.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint7"
    type="revolute">
    <origin
      xyz="0 0.0495 0"
      rpy="1.5708 0 0" />
    <parent
      link="LINK6" />
    <child
      link="LINK7" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="2"
      velocity="3.14" />
  </joint>
  <link
    name="LINK_TCP">
    <inertial>
      <origin
        xyz="0.0366 -2.3873E-07 -0.062382"
        rpy="0 0 0" />
      <mass
        value="0.21539" />
      <inertia
        ixx="0.00011732"
        ixy="1.5822E-06"
        ixz="-2.2157E-20"
        iyy="0.00011326"
        iyz="-1.1766E-19"
        izz="9.8913E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://wust_seven_axis_arm_description/meshes/LINK_TCP.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://wust_seven_axis_arm_description/meshes/LINK_TCP.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="vacuum_tcp"
    type="fixed">
    <origin
      xyz="0.0366 0 -0.081603"
      rpy="3.1416 0 3.1416" />
    <parent
      link="LINK7" />
    <child
      link="LINK_TCP" />
    <axis
      xyz="0 0 0" />
  </joint>
  
  <link name="camera_link">
    <visual>
      <geometry>
        <box size="0.02 0.05 0.02"/>
      </geometry>
      <material name="blue">
        <color rgba="0 0 1 1"/>
      </material>
    </visual>
  </link>

  <joint name="camera_joint" type="fixed">
    <parent link="LINK7"/>
    <child link="camera_link"/>
    <origin xyz="0 -0.08 0.04" rpy="3.1416 0 3.1416"/> 
  </joint>

<link name="camera_optical_frame"/>
  <joint name="camera_optical_joint" type="fixed">
    <parent link="camera_link"/>
    <child link="camera_optical_frame"/> 
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
</robot>